Repository CyberLAB-Admin/cloudsecdemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config, security-check, test-coverage

validate-config:
  name: validate-config
  entry: ./scripts/utils/validate_config.sh
  language: script

security-check:
  name: security-check
  entry: ./scripts/utils/security_check.sh
  language: script

test-coverage:
  name: test-coverage
  entry: ./scripts/utils/test_coverage.sh
  language: script

Update README.md
  README.md
Due: none

Update INSTALL.md
  docs/INSTALL.md
Due: none

post deployment and app update
  kubernetes/base/deployment.yaml
  scripts/deploy.sh
Due: security-check, test-coverage

logging change
  scripts/utils/logger.sh
Due: test-coverage

prereq change
  scripts/utils/prereq_check.sh
Due: test-coverage

rename
  scripts/utils/aws-setup.sh
Due: test-coverage

rename
  scripts/utils/aws_setup.sh
Due: test-coverage

changed script variables
  scripts/setup.sh
Due: test-coverage

changed script variables
  scripts/utils/aws_setup.sh
Due: test-coverage

changed minimum disk requirement
  scripts/utils/prereq_check.sh
Due: test-coverage

changed .gitignore
  .gitignore
Due: none

changed .gitignore
  config/defaults/.env.example
Due: none

changed the way permissions are checked in aws_setup.sh and added AWS_Permission.json to docs
  docs/AWS_Permission.json
  scripts/utils/aws_setup.sh
Due: test-coverage

bug fixes and optimisations
  config/defaults/.env.example
  scripts/deploy.sh
Due: test-coverage

bug fixes and optimisations
  docs/INSTALL.md
  terraform/main.tf
Due: security-check

added bucket policy, modified AWS_Permissions, modified deploy.sh, other small changes
  docs/AWS_Permission.json
  docs/Bucket_Policy.json
  docs/INSTALL.md
  scripts/deploy.sh
Due: test-coverage

modifed the deploy_infrastructure function in deploy.sh
  scripts/deploy.sh
Due: test-coverage

ammended AWS_Permission.json and added new variables to ./terraform/variables.tf
  docs/AWS_Permission.json
  terraform/variables.tf
Due: security-check

Path conditions:
  validate-config: any of: ^config/.*\.(yaml|yml)$ and ^(terraform/.*|kubernetes/.*|scripts/.*|monitoring/.*)$ and not (^(\.terraform/.*|node_modules/.*|\.venv/.*)$)
  security-check: any of: ^(terraform/.*|kubernetes/.*)$ and ^(terraform/.*|kubernetes/.*|scripts/.*|monitoring/.*)$ and not (^(\.terraform/.*|node_modules/.*|\.venv/.*)$)
  test-coverage: any of: ^(.*\.py|.*\.js|.*\.sh)$ and ^(terraform/.*|kubernetes/.*|scripts/.*|monitoring/.*)$ and not (^(\.terraform/.*|node_modules/.*|\.venv/.*)$)
